# Object files
*.o
*.ko
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.hex

*.mk
*.eep
*.lss
*.map
*.srec

*.user
*.atsuo
*.suo